<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="cn.smiles.andclock">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true"/>
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="true"/>

    <application
        android:name=".SmilesApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_android_pink_logo_48dp"
        android:label="@string/app_name2"
        android:roundIcon="@drawable/ic_android_pink_logo_48dp"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
        </activity>
        <!-- 主页 -->
        <activity
            android:name=".activity.GoHomeActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTask">
        </activity>

        <service
            android:name=".service.AndroidService"
            android:enabled="true"
            android:exported="true">
        </service>

        <receiver android:name=".receiver.BootBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.USER_PRESENT"/>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>

        <service
            android:name=".service.RemoteService"
            android:enabled="true"
            android:exported="true"
            android:process=":RemoteSer">
        </service>

        <activity android:name=".activity.ConstraintLayoutActivity">
        </activity>
        <activity
            android:name=".activity.WebViewActivity"
            android:theme="@style/NoActionbar">
        </activity>
        <activity android:name=".activity.CalendarActivity">
        </activity>
        <activity android:name=".activity.CalendarActivity2">
        </activity>
        <activity
            android:name=".activity.CameraActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".activity.ViewPagerActivity">
        </activity>
        <activity android:name=".activity.VisualizerTestActivity">
        </activity>
        <activity android:name=".activity.MenuActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.LotteryActivity">
        </activity>
        <activity android:name=".activity.LotteryInfoActivity">
        </activity>
    </application>

</manifest>