<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="cn.smiles.andclock">

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true"/>
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="true"/>

    <application
        android:name=".SmilesApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_android_pink_logo_48dp"
        android:label="@string/app_name2"
        android:roundIcon="@drawable/ic_android_pink_logo_48dp"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 播放音乐、钟表 -->
        <activity
            android:name=".activity.MainActivity"
            android:label="播放音乐、钟表"
            android:screenOrientation="portrait">
        </activity>
        <!-- 安卓辅助 -->
        <activity
            android:name=".activity.GoHomeActivity"
            android:excludeFromRecents="true"
            android:label="安卓辅助"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>

        <!-- 安卓辅助服务 -->
        <service
            android:name=".service.AndroidService"
            android:enabled="true"
            android:exported="true">
        </service>
        <!-- 安卓辅助保活服务 -->
        <service
            android:name=".service.RemoteService"
            android:enabled="true"
            android:exported="true"
            android:process=":RemoteSer">
        </service>
        <!-- 安卓辅助广播 -->
        <receiver android:name=".receiver.BootBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.USER_PRESENT"/>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>

        <!-- ConstraintLayout 测试 -->
        <activity
            android:name=".activity.ConstraintLayoutActivity"
            android:label="ConstraintLayout 测试"
            android:screenOrientation="portrait">
        </activity>
        <!-- WebView 浏览器 -->
        <activity
            android:name=".activity.WebViewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionbar">
        </activity>
        <!-- 简单日历 -->
        <activity
            android:name=".activity.CalendarActivity"
            android:label="简单日历"
            android:screenOrientation="portrait">
        </activity>
        <!-- 简单日历2 -->
        <activity
            android:name=".activity.CalendarActivity2"
            android:label="简单日历2"
            android:screenOrientation="portrait">
        </activity>
        <!-- Camera 测试 -->
        <activity
            android:name=".activity.CameraActivity"
            android:label="Camera 测试"
            android:screenOrientation="portrait">
        </activity>
        <!-- ViewPager 动画测试 -->
        <activity
            android:name=".activity.ViewPagerActivity"
            android:label="ViewPager 动画"
            android:screenOrientation="portrait">
        </activity>
        <!-- 音乐播放离子动效 -->
        <activity
            android:name=".activity.VisualizerTestActivity"
            android:label="Visualizer 音乐测试">
        </activity>
        <!-- 主菜单 -->
        <activity
            android:name=".activity.MenuActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- 测试学习 -->
        <activity
            android:name=".activity.TestStudyActivity"
            android:label="测试学习"
            android:screenOrientation="portrait"/>
        <!-- 彩票查询 -->
        <activity
            android:name=".activity.LotteryActivity"
            android:label="彩票种类">
        </activity>
        <!-- 彩票查询结果 -->
        <activity
            android:name=".activity.LotteryInfoActivity"
            android:screenOrientation="portrait">
        </activity>
        <!-- 打砖块游戏 -->
        <activity
            android:name=".activity.BrickActivity"
            android:theme="@style/FullScreen">
        </activity>

        <!-- TextureView 测试例子 -->
        <activity
            android:name="kr.gdg.android.textureview.ListActivity"
            android:label="@string/list_activity">
        </activity>
        <!-- TextureView 测试例子1 -->
        <activity
            android:name="kr.gdg.android.textureview.CameraActivity"
            android:label="@string/camera_activity">
        </activity>
        <!-- TextureView 测试例子2 -->
        <activity
            android:name="kr.gdg.android.textureview.GLTriangleActivity"
            android:label="@string/gltriangle_activity">
        </activity>
        <!-- TextureView 测试例子3 -->
        <activity
            android:name="kr.gdg.android.textureview.CanvasActivity"
            android:label="@string/canvas_activity">
        </activity>
        <!-- TextureView 测试例子4 -->
        <activity
            android:name="kr.gdg.android.textureview.Canvas2Activity"
            android:label="@string/canvas_activity">
        </activity>
        <!-- 滚轮日期选择 -->
        <activity
            android:name="com.ycuwq.datepicker.DatepickerDemoActivity"
            android:label="滚轮日期选择">
        </activity>
        <!-- 扫描二维码 -->
        <activity
            android:name="com.dtr.zxing.activity.CaptureActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar">
        </activity>
        <!-- 二维码条码扫描结果 -->
        <activity
            android:name="com.dtr.zxing.activity.ResultActivity"
            android:label="扫码结果"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light"/>
        <!-- 所有已安装APP列表 -->
        <activity
            android:name=".activity.AllInstallAppActivity"
            android:label="所有安装APP"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>